<!-- <link rel="stylesheet" href="../assets/style.css"> -->
<%- include('common/nav') -%>
<div class="container-fluid">
    <div class="col-sm-6 offset-sm-3 mt-3 login">
        <h1>Login Page</h1>
        <form action="" method="POST" class="form-group">
            <input type="text" class="form-control mb-3" name="email" id="email">
            <input type="password" class="form-control mb-3" name="password" id="password">
        </form>
    </div>
</div>

<link rel="stylesheet" href="../assets/style.css">
<link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
